# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
total_product = data.groupby(['CustomerID', 'ProductName'])['Quantity'].sum()
df2=pd.DataFrame(data)
df2.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
df=df2.pivot_table(index="ProductName",columns="CustomerID",values="Quantity")
df=df.fillna(0)
df.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
distances = pd.DataFrame(1/(1 + squareform(pdist(df.T, 'euclidean'))), 
                         index=df.columns, columns=df.columns)
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.085297,0.093953,0.091747,0.087410,0.089695,0.085297,0.088913,0.088152,0.089695,...,0.004809,0.005108,0.004996,0.005421,0.004920,0.005023,0.004880,0.005026,0.004549,0.004883
200,0.085297,1.000000,0.085638,0.085297,0.080070,0.083020,0.084959,0.083651,0.085638,0.087047,...,0.004825,0.005121,0.005014,0.005448,0.004925,0.005032,0.004909,0.005042,0.004553,0.004879
264,0.093953,0.085638,1.000000,0.088152,0.089301,0.087047,0.085638,0.086333,0.087047,0.087047,...,0.004822,0.005115,0.004996,0.005441,0.004932,0.005055,0.004894,0.005042,0.004566,0.004883
356,0.091747,0.085297,0.088152,1.000000,0.085983,0.086688,0.085983,0.091325,0.085983,0.087410,...,0.004814,0.005111,0.004999,0.005437,0.004920,0.005036,0.004871,0.005042,0.004563,0.004886
412,0.087410,0.080070,0.089301,0.085983,1.000000,0.085638,0.085638,0.089301,0.084959,0.087779,...,0.004808,0.005131,0.004996,0.005441,0.004925,0.005042,0.004876,0.005039,0.004568,0.004903

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [7]:
similarities = distances.loc[200].sort_values(ascending=False)[1:6]
similarities.head()

CustomerID
1920    0.094414
1072    0.092610
3253    0.090094
3317    0.090094
3909    0.089695
Name: 200, dtype: float64

In [8]:
df3 = pd.DataFrame(data=similarities)
df3

                 200
CustomerID
1920        0.094414
1072        0.092610
3253        0.090094
3317        0.090094
3909        0.089695

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [9]:
rec = df2.loc[df3.index]
rec

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
CustomerID,,,,,,,
1920,20446,Cassandra,Weiss,533786,244,Beef - Rib Eye Aaa,6
1072,61288,Rosa,Andersen,2121381,17,"Wine - White, Mosel Gold",16
3253,67682,Kimberly,Golden,2122683,194,Lettuce - Frisee,18
3317,38048,Rafael,Osborne,6732174,194,Lettuce - Frisee,10
3909,55162,Felicia,Arnold,5942967,131,Anchovy Paste - 56 G Tube,14

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [10]:
products = pd.DataFrame(rec.groupby(['ProductName'])['Quantity'].agg('sum').sort_values(ascending=False))
products.head()

                           Quantity
ProductName
Lettuce - Frisee                 28
Wine - White, Mosel Gold         16
Anchovy Paste - 56 G Tube        14
Beef - Rib Eye Aaa                6

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [11]:
top_products=products.merge(df, on="ProductName")
top_products

,Quantity,33,200,264,356,412,464,477,639,649,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Lettuce - Frisee,28,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Wine - White, Mosel Gold",16,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,25.0,0.0,25.0,0.0,0.0
Anchovy Paste - 56 G Tube,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Beef - Rib Eye Aaa,6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df200 = top_products[["Quantity", 200]]
df200[df200[200]==0][:5].index.tolist()

['Lettuce - Frisee',
 'Wine - White, Mosel Gold',
 'Anchovy Paste - 56 G Tube',
 'Beef - Rib Eye Aaa']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [15]:
listcust = [i for i in data["CustomerID"]]
custonce = (set(listcust))

def custompref(custonce):
    diction = {}
    for i in custonce:
        similarities = distances[i].sort_values(ascending=False)[1:6]
        listcust = list(similarities.index)
        total = rec.loc[listcust]
        sumquantity = total.groupby(["ProductName"]).agg({"Quantity":"sum"}).sort_values("Quantity", ascending=False)
        merged = quant.merge(sumquantity, left_on = "ProductName", right_on = "ProductName")
        merged5= merged["Quantity"][merged[i]== 0].sort_values(ascending=False)
        diction[i]=list(merged5[:5].index)
    return diction
#custompref(custonce)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [16]:
pref = custompref(custonce)
preferences = pd.DataFrame.from_dict(pref)
preferences.head()

KeyError: "None of [Int64Index([28867, 23001, 25995, 14501, 23176], dtype='int64', name='CustomerID')] are in the [index]"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.